.generator-container {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.generator-container h2 {
    margin-bottom: 25px;
    color: #FFF;
}

.generator-container h3 {
    margin-bottom: 25px;
    background-color: #188038;
    border-radius: 10px;
}

.generator-container label {
    margin-right: 10px;
}

.generator-container input {
    font-family: Montserrat;
    font-size: 1.4rem;
    width: 50px;
    background-color: #5ea156;
    color: #FFF;
    border-radius: 10px;
    border: 0;
    outline: none;
}

.generator-container button {
    font-family: Montserrat;
    font-size: 1.0rem;
    margin-top: 25px;
    width: 200px;
    height: 50px;
    color: #FFF;
    background-color: #5fa357;
    border-radius: 10px;
    border: 0;
    outline: none;
}